%a{:href => "http://www.amidev.co.uk/", :title => "Professional Ruby Web Application Development", :id => "amidev-logo", :alt => "aMiDeV Logo"} aMiDEV Ruby Web Application Development
#under_amidev
  %p
    Web Application Development by Rafal Zdziech

