#box_top_right
  %h1
    Developers
  %p
    %strong
      We want you to succeed.
    And to that end, We have learnt high-tech web top technologies to help local communities and local people.
    We specialize in building web applications for normal people like You and we can teach you to use Linux.
  %p
    %strong
      %a{:href => "/contact", :class =>"bluetext"} Contact Us today
    %a{:href => "mailto:raf@amidev.co.uk"} =>  raf@amidev.co.uk

