#box
  %h1
    Destiny
  %p
    %strong
      I want you to succeed.
    And to that end, I have learnt high-tech web top technologies to help your business grow.
    I specialize in building web applications for normal people like You.
  %p
    %strong
      %a{:href => "/contact", :class =>"bluetext"} Contact me today:
    %a{:href => "mailto:raf@amidev.co.uk"} =>  raf@amidev.co.uk

