%a{:href => "http://www.amidev.co.uk/", :title => "Web Development", :id => "amidev-logo", :alt => "aMiDeV Logo"} aMiDEV Ruby Web Application Development
#under_amidev
  %p
    Be Smart, Creative, helpful and became Ninja with aMiDEV


