#nav
  %u
    %li
      %a{:href => "/"}
        %img{:src => "/images/icons/home.png", :alt => "Home", :title => "Home"} Home
    %li
      %a{:href => "/portfolio"}
        %img{:src => "/images/icons/world.png", :alt => "Portfolio", :title =>"Portfolio"} Portfolio
    %li
      %a{:href => "/contact", :id => "attention"}
        %img{:src => "/images/icons/post.png", :alt => "Contact", :title => "Contact"} Contact
    %li
      %a{:href => "/blog"}
        %img{:src => "/images/icons/man.png", :alt => "Blog", :title => "Blog"} Blog
    %li
      %a{:href => "/about"}
        %img{:src => "/images/icons/question.png", :alt => "About", :title => "About"} About


