#nav
  %u
    %li
      - if @active_page == "Home"
        %a{:href => "/", :class => "active_page"}
          %img{:src => "/images/icons/home.png", :alt => "Home", :title => "Home"} Home
        - @active_page = 0
      - else
        %a{:href => "/"}
          %img{:src => "/images/icons/home.png", :alt => "Home", :title => "Home"} Home
    %li
      - if @active_page == "Free Projects"
        %a{:href => "/freeprojects", :class => "active_page"}
          %img{:src => "/images/icons/world.png", :alt => "Free Projects", :title =>"Free Projects"} Free Projects
      - else
        %a{:href => "/freeprojects"}
          %img{:src => "/images/icons/world.png", :alt => "Free Projects", :title =>"Free Projects"} Free Projects
    %li
      - if @active_page == "Contact"
        %a{:href => "/contact", :class =>"active_page"}
          %img{:src => "/images/icons/post.png", :alt => "Contact", :title => "Contact"} Contact
      -else
        %a{:href => "/contact"}
          %img{:src => "/images/icons/post.png", :alt => "Contact", :title => "Contact"} Contact
    %li
      - if @active_page == "Developers"
        %a{:href => "/developers", :class => "active_page"}
          %img{:src => "/images/icons/man.png", :alt => "Developers", :title => "Developers"} Developers
      - else
        %a{:href => "/developers"}
          %img{:src => "/images/icons/man.png", :alt => "Developers", :title => "Developers"} Developers
    %li
      - if @active_page == "About"
        %a{:href => "/about", :class => "active_page"}
          %img{:src => "/images/icons/question.png", :alt => "About", :title => "About"} About
      - else
        %a{:href => "/about"}
          %img{:src => "/images/icons/question.png", :alt => "About", :title => "About"} About

