%h2 My aim is to create great, simple, easy to use websites for normal people and small businesses around the world.
#about
  %p At the end of the day, I am like you and I want to help You to create a big things. It might be a small web application or something big. I am passionate about Linux and open source community that is why I use free tools to create your website. Because of that I can offer the best possible price. You might be a business man who wants to save, cut existing cost of your business. That is not a problem. I can be your freelancer to help you achieve your goals. We can move your business to Linux or create web application to help utilize your company potential.
  %p If you don't know who to choose the answer is simple.
  %p Choose me.
  %p Best Regards
  %p Rafal Zdziech
