%h2 My aim is to create great, simple, easy to use websites for normal people and small businesses around the world. I am always looking to work on exiting projects with exiting clients.
%p At the end of the day, I am like you and I want to help You to create a big things. It might by a small web application or something big. If I haven't got the right skills for it I will learn them. I am passionate about Linux and open source community that is why I use the free tools to create your website. That is why I can offer the best possible price. You might be a business man who wants to save, cut existing cost of your business. That is not a problem. I can be your freelancer to help you achive your goals. Move your business to Linux so you can save money on licences.
%p If you don't know who to choose the answer is simple.
%p Your next developer, freelancer and business partner is me.
%p Rafal Zdziech
