%h2 aMiDEV is a local community project created by Rafal Zdziech.
#about
  %h3 Aim
  %p The aim of this project is to help local communities by creating free websites, providing development help and knowledge about how to use the open source tools and systems to save money.
  %p Your money should not be spend on the tools, operating systems, licences which can be provided to you free of change.
  %p Your money should be spent to the people who really needs it.
  %p With the right knowledge and skills you can minimalize the money you spend on computing.


