#contents
  %h2 Join Us
  %p Most of young developers and designers want to create and design websites which they could show to future employers. This is what this project is really about. Developers and community helps each other. Community has a great website and developers get experience and great portfolio.
  %p We are looking for Web Developer, designers, content writers, project managers, administrators and for everyone who wants to joint the team.

  %h2 Our Team of Ninja Tux Developers

  #team_box
    %h2 Head Tux
    %a{:href=>"/rafal_zdziech/"} Rafal Zdziech
  #team_box
    %h2 Web Tuxs
  #team_box
    %h2 Design Tuxs
  #team_box
    %h2 Content Tuxs
  #team_box
    %h2 Admin Tuxs



