#contents
  %h2 Join Us
  %p Most of young developers and designers want to create and design websites which they could show to future employers. This is what this project is really about. Developers and community helps each other. Community has a great website and developers get experience and great portfolio.
  %p We are looking for Web Developer, designers, content writers, project managers, administrators and everyone who wants to help us and have got a free time.

  %h2 Our Team of Ninja Tux Developers

  #team_box
    %h3
      %a{:href=>"/rafal_zdziech/"} Rafal Zdziech
    %p Bio => Founder of aMiDEV. Bsc in Computer Science. Ruby and open source enthusiast


