#contents
  %h2 Join Us
  %p Most of young developers and designers want to create and design websites which they could show to future employers. This is what this project is really about. Developers and community helps each other. Community has a great website and developers get experience and great portfolio.

  %h2 Our Team of Developers
  %p This part of website is under development.
