#dragon
  #box_left_bottom
    %h1 Right Tools
    %ul
      %li
        %a{:href => "http://www.ruby-lang.org"} Ruby,
        %a{:href => "http://www.en.wikipedia.org/wiki/Linux"} Linux,
        %a{:href => "http://www.vim.org"} Vim
      %li
        %a{:href => "http://www.rubyonrails.org"} Ruby on Rails,
        %a{:href => "http://www.sinatrarb.com"} Sinatra,
        %a{:href => "http://www.padrinorb.com"} Padrino
      %li
        %a{:href => "http://www.rspec.info"} Rspec
        %a{:href => "http://www.cukes.info"} Cucumber
      %li
        %a{:href => "http://www.haml-lang.com"} Haml,
        %a{:href => "http://www.sass-lang.com"} Sass,
        %a{:href => "http://www.wc3.org"} WC3(xHTML,Css..)
      %li
        %a{:href => "http://www.compass-style.org"} Compass
        %a{:href => "http://www.blueprintcss..org"} Blueprint
        %a{:href => "http://www.jquery.com"} JQuery
  #box_rec
    %h1 What people are saying
    %p
      "I have found Rafal to be a very helpful, knowledgable and very respectful of the fact that I have basically zero I.T skills. He is punctulal for meetings and always returns my calls promptly.
      Highly recomended!
      Glen Powell,
      Jade Palace Group.” - 2011

