#dragon
  #box_index
    %h1 Future Proof
    %p
      I am using the best tools for the job:
    %ul
      %li
        Ruby
      %li
        Sinatra
      %li
        Ruby on Rails
      %li
        Test Drivent Development
      %li
        Haml, Sass
      %li
        Compass, Blueprint



